.no-box-shadow{
	box-shadow: none;
}
.size-2x{
	font-size: 2rem !important;
}
.size-3x{
	font-size:3rem !important;
}
.margin-top-2x{
	margin-top: 2rem;
}
.margin-top-4x{
	margin-top: 4rem;
}
.margin-top-x{
	margin-top: 1rem;
}
hr{
	border: 1px solid $body-bg;
}
h4.title{
	font-weight: 300 !important
}
.left{
	float: left;
}
.right{
	float:right;
}
main.container{ 
	.row{
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.heading{
		border-bottom: 1px solid $body-bg;
	}
}