.no-box-shadow{
	box-shadow: none;
}
.size-2x{
	font-size: 2rem !important;
}
.hidden{
	display: none;
}
.radius{
	border-radius: 50%;
}
.size-3x{
	font-size:3rem !important;
}
.margin-top-2x{
	margin-top: 2rem !important;
}
.margin-top-4x{
	margin-top: 4rem !important; 
}
.margin-top-x{
	margin-top: 1rem !important;
}
.margin-bottom-2x{
	margin-bottom: 2rem !important;
}
.margin-bottom-4x{
	margin-bottom: 4rem !important; 
}
.margin-bottom-x{
	margin-bottom: 1rem !important;
}
.border-blue{
	border: 3px solid $light-blue;
}
.orange-border{
	border: 3px solid $orange !important;
}
hr{
	border: 1px solid $body-bg;
}
.border-x{
	border: 1px solid $border;
}
.border-2x{
	border: 2px solid $border;
}
h4.title{
	font-weight: 300 !important
}
.left{
	float: left;
}
.right{
	float:right;
}
.overflow{
	overflow: hidden;
}
.clear{
	clear: both;
}
.full-width{
	width: 100%;
}
.auto{
	margin: 0 auto;
}
.pointer{
	cursor: pointer;
}
.absolute{
	position: absolute;
}
.relative{
	position: relative;
}
.padding-x{
	padding: 1rem !important;
}
.no-padding{
  padding: 0 !important;
}
.small-font{
  padding: 5px;
  font-size: 10px;
}
.float{
	float: none !important;
}
.bolder{
  font-weight: bold;
}
.card-space{
	padding: 20px !important;
}
.margin-top-off{
	margin-top: 0 !important;
}
.margin-bottom-off{
  margin-bottom: 0 !important;
}
.fixed{
	position: fixed;
}
nav i, 
nav [class^="mdi-"], 
nav [class*="mdi-"], 
nav i.material-icons{
	font-size: 50px;
}
.margin-left-x{
	margin-left: 1rem !important;
}
.margin-left-0-5x{
	margin-left: 0.5rem !important;
}
.box-shadow{
	box-shadow: 0 40px 30px -30px $off-dark;
}
[type=checkbox]:checked+label:before{
  border-right: 2px solid $green;
  border-bottom: 2px solid $green;
}
[type=radio].with-gap:checked+label:after,
[type=radio].with-gap:checked+label:before,
[type=radio]:checked+label:after,
[type=radio].with-gap:checked + label:after,
[type=radio].with-gap:checked + label:before,
[type=radio]:checked + label:after{
  border: 2px solid $blue;
  width: 20px;
  height: 20px;
}
[type=radio].with-gap:checked+label:after,
[type=radio]:checked+label:after,
input[type=range]+.thumb,
input[type="checkbox"].filled-in:checked + label:after{
  background-color: $blue;
  border: 0;
}
.input-field label{
  color: $off-dark;
}
.input-field label.active,
.input-field i.active,
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label, 
input[type=email]:focus:not([readonly]) + label, 
input[type=url]:focus:not([readonly]) + label, 
input[type=time]:focus:not([readonly]) + label, 
input[type=date]:focus:not([readonly]) + label, 
input[type=datetime]:focus:not([readonly]) + label, 
input[type=datetime-local]:focus:not([readonly]) + label, 
input[type=tel]:focus:not([readonly]) + label, 
input[type=number]:focus:not([readonly]) + label, 
input[type=search]:focus:not([readonly]) + label,
input:not([type]):focus:not([readonly]) + label{
   color: $blue;
}
input[type=text]:focus:not([readonly]),
input:not([type]):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  color: $off-dark;
  border-bottom: 1px solid $blue;
  box-shadow: 0 1px 0 0 $blue;
}
.fixed-message{
	bottom: 0;
	padding-left: 25px;
	z-index: 2;
	i{
		top: 5px;
	}
}
.fixed.message{
  padding: 20px;
}
.preloader{
	position: fixed; 
	left: 0; 
	top: 0; 
	opacity: 0.9;
	z-index: 999; 
	width: 100%; 
	height: 100%; 
	overflow: visible; 
	background: url('../images/loading.gif') no-repeat center center;
}
.z-index-99{
	z-index:99;
}
.wickedpicker{
	z-index:99;
}