// Variables
@import "variables";
body{
	background: $body-bg;
	padding: 0;
	margin: 0;
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
}
.title.m-b-md{
	margin-top: 100px;
	img{
		width: 150px;
	}
}
